 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/2caae017a61202f87bc36fab57e85a63.png");
  background-position: 50% 50%;
  min-height: 540px;
}

.u-section-1 .u-text-1 {
  margin: 24px auto 0 calc(((100% - 1140px) / 2) + 426px);
}

.u-section-1 .u-group-1 {
  margin-top: 383px;
  margin-bottom: 0;
  background-image: none;
  min-height: 89px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 0 967px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 445px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 351px);
  }

  .u-section-1 .u-text-2 {
    margin-right: 767px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 341px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 269px);
  }

  .u-section-1 .u-text-2 {
    margin-right: 547px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 256px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 202px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 407px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 161px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 127px);
  }

  .u-section-1 .u-text-2 {
    margin-right: 207px;
  }
}.u-block-4491-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-4491-3 {
  position: absolute;
  left: 0;
  padding: 13px;
}

.u-block-4491-4 {
  position: absolute;
  right: 0;
  padding: 13px;
}

 .u-section-2-1 {
  background-image: url("images/AjmanSludgetoenergyplant1.JPG");
  background-position: 50% 50%;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 556px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 458px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 351px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 263px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 166px;
  }
}

 .u-section-2-2 {
  background-image: url("images/AjmanSludgetoenergyplantpic2.jpg");
  background-position: 50% 50%;
}

.u-section-2-2 .u-sheet-1 {
  min-height: 556px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 458px;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 351px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 263px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 166px;
  }
}

 .u-section-2-3 {
  background-image: url("images/WTPDosingTank1.jpg");
  background-position: 50% 50%;
}

.u-section-2-3 .u-sheet-1 {
  min-height: 556px;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 458px;
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 351px;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 263px;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 166px;
  }
}

 .u-section-2-4 {
  background-image: url("images/WTPDosingTank2.jpg");
  background-position: 50% 50%;
}

.u-section-2-4 .u-sheet-1 {
  min-height: 556px;
}

@media (max-width: 1199px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 458px;
  }
}

@media (max-width: 991px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 351px;
  }
}

@media (max-width: 767px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 263px;
  }
}

@media (max-width: 575px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 166px;
  }
}

 .u-section-2-5 {
  background-image: url("images/WTPDosingTank3.jpg");
  background-position: 50% 50%;
}

.u-section-2-5 .u-sheet-1 {
  min-height: 556px;
}

@media (max-width: 1199px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 458px;
  }
}

@media (max-width: 991px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 351px;
  }
}

@media (max-width: 767px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 263px;
  }
}

@media (max-width: 575px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 166px;
  }
}

 .u-section-2-6 {
  background-image: url("images/WTPDosingTank4.jpg");
  background-position: 50% 50%;
}

.u-section-2-6 .u-sheet-1 {
  min-height: 556px;
}

@media (max-width: 1199px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 458px;
  }
}

@media (max-width: 991px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 351px;
  }
}

@media (max-width: 767px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 263px;
  }
}

@media (max-width: 575px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 166px;
  }
}